*{
  background-color: rgb(194, 189, 189);
  }
  #root {
  color: rgb(7, 7, 7);
  display: flex;
  flex-direction: column;
  margin: 10px;

  }
  #p {
  color: blue;
  }
  #input{
  background-color: rgb(222, 240, 234);
  }
  div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  }
  